:root {
  --background: #323437;
  --text: #ffffff;
  --key: #252729;
  --border: #000000;
  --button: #252729;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: var(--background);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 30px;
}

.input {
  display: flex;
  width: 100%;
}

.input button {
  background-color: var(--background);
  color: var(--text);
  height: 50px;
  width: 70px;
  /* border: none; */
}

#textInput {
  width: 100%;
  font-size: 15px;
  text-align: center;
  border: none;
  background-color: var(--background);
  color: var(--text);
}

#textInput:focus {
  outline: none;
}


#keyboard {
  display: grid;
  gap: 5px;
  max-width: 900px;
  margin: 0 auto;
  border-radius: 5px;
}

.key-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.key {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: var(--key);
  color: var(--text);
  border: 1px solid var(--border);
  border-radius: 5px;
  cursor: pointer;
}

.key:active {
  background-color: var(--text);
  color: var(--border);
}

.key.pressed {
  background-color: var(--text);
  color: var(--border);
}

.backspace {
  width: 100px;
}

.tab {
  width: 75px;
}

.capslock {
  width: 85px;
}

.enter {
  width: 120px;
}

.shift {
  width: 130px;
}

.space {
  width: 430px;
}
